.material-icons {
    background-color: transparent;
    border: none;
    outline: none;
    /* for some reason, font-size doesn't work here */
    /* font-size: 48px; */
    cursor: pointer;
}

/* e.g. class="material-icons md-48" */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons:hover {
    opacity: 0.5;
}

/* BUTTONS */
.kebab-menu {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

.kebab-menu-content {
    display: none;
    right: 1.5rem;
    bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    width: 200px;
    font-family: 'Montserrat';
    font-size: 1rem;
}

/* hover over container (only icon shows at first), make content visible */
/* display:block doesn't do anything to .kebab-menu:hover */
.kebab-menu:hover .kebab-menu-content {
    display: block;
}

.kebab-menu-content a {
    width: 100%;
    /* display: block; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: black;
}

.kebab-menu-content .material-icons:hover {
    opacity: unset;
}

.kebab-menu-content a:hover {
    background-color: gray;
}

/* GAME TEXT*/


.margin-right {
    margin-left: auto;
}

.game-header {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    /* width: 70vmin; */
    /* width: 600px; */
}

.game-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;


    /* justify-content: center; */
    /* align-items: center; */
    /* width: 600px; */
    /* margin: 2em auto; */
}

/* GAMEBOARD */
.card {
    background-color: #FABAA2;
    margin-top: 10%;
    /* max-height: 600px; */
    height: 600px;
    max-height: 65vmin;
    width: 600px;
    /* max-width: 100%; */
    max-width: 65vmin;
    /* max-width: 600px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.game-grid > * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.marker {
    opacity: 0;
}

/* order of class matters */
.marker-container:hover .marker {
    opacity: 0.5;
}

.row1-col1 {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.row1-col2 {
    border-bottom: 1px solid black;
}

.row1-col3 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.row2-col1 {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.row2-col2 {
    border-bottom: 1px solid black;
}

.row2-col3 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.row3-col1 {
    border-right: 1px solid black;
}

.row3-col2 {
    /* border-left: 1px solid black; */
}

.row3-col3 {
    border-left: 1px solid black;
}

/* PLAYER */
.active-player {
    opacity: 1 !important;
}

.player {
    display: flex;
    font-size: 1.5rem;
    opacity: 0.5;
}

.player-score {
    text-align: right;
    width: 2rem;
    margin-right: 1rem;
}

/* Mobile L */
@media only screen and (max-width: 540px) {
    .player {
        font-size: 1.3rem;
    }

    .container, .game-header {
        width: 100%;
    }
    .card {
        max-width: 80vmin;
        max-height: 80vmin;
    }

    .marker-container {
        font-size: 2.5rem;
    }
}

/* Mobile M */
@media only screen and (max-width: 375px) {
    .player {
        /* font-size: 1.3rem; */
    }

    .game-header {
        width: 100%;
    }
}

/* Mobile S */
@media only screen and (max-width: 320px) {
    .player {
        font-size: 1.1rem;
    }

    .marker-container {
        font-size: 2rem;
    }

    .kebab-menu-content {
        font-size: 0.9rem;
        width: 170px;
    }
}
